@using EcommerseClient.Services
<div class="container">
    <div class="alert alert-dark" role="alert">
        <strong>Advertisement:</strong>
        <a href="#" rel="nofollow" target="_blank" class="alert-link">
            @AdService.Ad("mensaje")
        </a>
    </div>
</div>

