.pagination {
    justify-content: center;
}

.efec {
    animation: fadeInAnimation ease 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    90% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

